<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BoomDay</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="/webjars/echarts/4.0.4/dist/echarts.js"></script>
    <script type="text/javascript" src="/webjars/echarts/4.0.4/dist/echarts.common.min.js"></script>
</head>
<body>
<div id="main" style="width: 1000px;height:600px;"></div>
<script type="text/javascript">
    $(document).ready(function(){
        var myChart = echarts.init(document.getElementById('main'));
        myChart.showLoading();
        var names=[];
        var values=[];
        $.ajax({
            type : "post",
            url : "/find/dayfindAll",
            data : {},
            dataType : "json",
            success : function(result) {
                if (result) {
                    for(var i=0;i<result.length;i++){
                        names.push(result[i].day);
                        values.push(result[i].count);
                    }
                    myChart.hideLoading();
                    myChart.setOption({
                        title:{
                            text:'每月每日乘车趋势图'
                        },
                        tooltip: {},
                        legend: {
                            data:['数量']
                        },
                        xAxis: {
                            data: names
                        },
                        yAxis: {},
                        series: [{
                            name: '數量',
                            type: 'bar',
                            data: values
                        }]
                    });
                }
            },
            error : function(errorMsg) {
                alert("图表请求数据失败!");
                myChart.hideLoading();
            }
        });
    });

</script>
</body>
</html>
