<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>init</title>
</head>
<body>
    <h1 style="text-align:center">欢迎访问纽约出租车大数据分析数据展示系统！</h1>
    <h2 style="text-align:center">此页面用于初始化分析数据</h2>
    <br><br><br>
    <h2 style="text-align:center"><a href="/spark/bd">统计一月内每天的搭车人数</a></h2>
    <h2 style="text-align:center"><a href="/spark/gpt">每天各个时段客人的比例</a></h2>
    <h2 style="text-align:center"><a href="/spark/lors">长短途车的比例</a></h2>
    <h2 style="text-align:center"><a href="/spark/mct">每天各个时段乘车数</a></h2>
    <h2 style="text-align:center"><a href="/spark/wbd">周内每天的客程比例</a></h2>
    <h2 style="text-align:center"><a href="/spark/dcct">乘车距离分布情况</a></h2>
    <h2 style="text-align:center"><a href="/show/welcome">返回主页面</a></h2>
</body>
</html>