<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎页</title>
</head>
<body>
    <h1 style="text-align:center">欢迎访问纽约出租车大数据分析数据展示系统！</h1>
    <br><br><br>
    <h2 style="text-align:center"><a href="/show/boomday">统计一月内每天的搭车人数</a></h2>
    <h2 style="text-align:center"><a href="/show/getplatoontime">每天各个时段客人的比例</a></h2>
    <h2 style="text-align:center"><a href="/show/longorshort">长短途车的比例</a></h2>
    <h2 style="text-align:center"><a href="/show/morecustomertime">每天各个时段乘车数</a></h2>
    <h2 style="text-align:center"><a href="/show/weekboomday">周内每天的客程比例</a></h2>
    <h2 style="text-align:center"><a href="/show/distancecount">乘车距离分布情况</a></h2>
    <h2 style="text-align:center"><a href="/show/geocenter">kmeans训练得到的上车中心地</a></h2>
    <h2 style="text-align:center"><a href="/show/init">初始化统计数据</a></h2>
    <h3 style="text-align:center">班级：大数据1801班</h3>
    <h3 style="text-align:center">学号：04184009</h3>
    <h3 style="text-align:center">姓名：李昊儒</h3>
</body>
</html>